.ant-layout-content {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.ant-layout.layout .ant-layout-header {
  padding: 0;
}

.ant-layout-header .ant-menu {
  max-width: 1150px;
  margin: auto;
  width: 100%;
}

.ant-list-item .ant-image-img {
  display: inherit;
}

iframe {
  border: none;
}

.item-padding {
  padding: 16px 24px !important;
}